<%- include("header") -%>
    <div class="box" id="heading">
        <h1>About us</h1>
    </div>
    <div class="box">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit harum eius quia beatae vero amet provident
            repellat iure, cum totam quibusdam nam molestias! Facilis eaque repellendus pariatur asperiores excepturi.
            Cum cupiditate alias optio maxime. Eius exercitationem nostrum laboriosam quam? Temporibus?</p>
    </div>

    <%- include("footer") -%>